@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <title>会议室统计报表</title>
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/app/css/app.index.css")
    @Styles.Render("~/Plugins/app/statistics/app.statistics.css")
</head>
<body>
    <div class="container">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">汇总统计</li>
                <li>趋势分析</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="select-action">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon">园区</span>
                                    @{ Html.RenderAction("ParkDrop", "Drop", new { pid = "", id = "", model = 2 });}
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">查询时间</span>
                                    <div class="col-lg-5 col-md-5">
                                        <input class="form-control" id="stime">
                                    </div>
                                    <div class="col-lg-1 col-md-1">
                                        <label style="margin:0px;width:100%;height:34px;text-align:center;line-height:34px;">-</label>
                                    </div>
                                    <div class="col-lg-5 col-md-5">
                                        <input class="form-control" id="etime">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1">
                                <button type="button" class="btn btn-primary" id="searchDay" data-url="@Url.Action("SearchDay")" style="font-size:15px;">
                                    <i class="layui-icon layui-icon-search"></i> 查 询
                                </button>
                            </div>
                            <div class="col-lg-1 col-md-1">
                                <button type="button" class="btn btn-primary" id="importDay" data-url="@Url.Action("ImportToExcel")" style="font-size:15px;">
                                    <i class="glyphicon glyphicon-arrow-down"></i> 导出
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="data-action">
                        <div id="statistics-list-normal">

                        </div>
                    </div>
                </div>

                <div class="layui-tab-item">
                    <div class="select-action">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon">园区</span>
                                    <select class="selectpicker form-control" id="parkMonth">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-0">
                                <div class="input-group">
                                    <span class="input-group-addon">查询时间</span>
                                    <div class="col-lg-5 col-md-5">
                                        <input class="form-control" id="stime1">
                                    </div>
                                    <div class="col-lg-1 col-md-1">
                                        <label style="margin:0px;width:100%;height:34px;text-align:center;line-height:34px;">-</label>
                                    </div>
                                    <div class="col-lg-5 col-md-5">
                                        <input class="form-control" id="etime1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1">
                                <button type="button" class="btn btn-primary" id="searchMonth" data-url="@Url.Action("SearchMonth")" style="font-size:15px;">
                                    <i class="layui-icon layui-icon-search"></i> 查 询
                                </button>
                            </div>
                            <div class="col-lg-1 col-md-1">
                                <button type="button" class="btn btn-primary" id="importMonth" data-url="@Url.Action("ImportToExcel")" style="font-size:15px;">
                                    <i class="glyphicon glyphicon-arrow-down"></i> 导出
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">列表</li>
                            <li>图表</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div id="statistics-list-table">

                                </div>
                            </div>
                            <div class="layui-tab-item">
                                <div class="row" id="statistics-graph-line">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="listTpl" type="text/html">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>园区</th>
                    <th>会议室名称</th>
                    <th>总可用小时数</th>
                    <th>客户租赁小时数</th>
                    <th>内部使用小时数</th>
                    <th>空置小时数</th>
                    <th>客户租赁比率</th>
                    <th>内部使用比率</th>
                    <th>空置比率</th>
                </tr>
            </thead>
            <tbody>
                {{each data value i}}
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{value.ParkName}}</td>
                    <td>{{value.Name}}</td>
                    <td>{{value.Total}}</td>
                    <td>{{value.Rent}}</td>
                    <td>{{value.Self}}</td>
                    <td>{{value.Free}}</td>
                    <td>{{value.RentRate}}</td>
                    <td>{{value.SelfRate}}</td>
                    <td>{{value.FreeRate}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>        
    </script>
    <script id="tableTpl" type="text/html">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>园区</th>
                    <th>会议室</th>
                    {{each title value i}}
                    <th>{{value}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{each rows value i}}
                <tr>
                    <td>{{value.parkName}}</td>
                    <td>{{value.name}}</td>
                    {{each value.rentRate item i}}
                    <td>{{item}}%</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>
    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/artTemplate/template-web.js")
    @Scripts.Render("~/Plugins/echarts/echarts.common.min.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
    @Scripts.Render("~/Plugins/app/statistics/app.statistics.js")
    @Scripts.Render("~/Plugins/app/statistics/app.statistics.cr.js")
</body>
</html>
