@model Resource.Model.T_ResourcePublic


<fieldset class="layui-elem-field layui-field-title" style="padding:0px;">
    <legend style="padding:0px; margin:0px;border-bottom:2px solid #0094ff;color:#f6850a;">发布信息</legend>
</fieldset>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">发布编号</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="text" class="form-control" name="PublicID" id="PublicID" value="@Model.ID">
    </div>
    
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">发布时间</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="text" class="form-control" name="PubTime" id="PubTime" value="@Convert.ToDateTime(Model.BeginTime).ToString("yyyy-MM-dd") ~ @Convert.ToDateTime(Model.EndTime).ToString("yyyy-MM-dd")">
    </div>
</div>
@*<div class="form-group">
    <label class="control-label col-md-2">发布开始时间</label>
    <div class="col-md-2">
        <input type="text" class="form-control" name="BeginTime" id="BeginTime" value="@Model.BeginTime">
    </div>
    <label class="control-label col-md-2">发布结束时间</label>
    <div class="col-md-2">
        <input type="text" class="form-control" name="EndTime" id="EndTime" value="@Model.EndTime">
    </div>
</div>*@
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">发布等级</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="text" class="form-control" name="Level" id="Level" value="@Model.Level" required placeholder="数字越小等级越高">
    </div>    
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">发布渠道</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <label class="checkbox-inline">
            @Html.CheckBox("AZWEnable", Model.AZWEnable) 艾众网
        </label>
        <label class="checkbox-inline">
            @Html.CheckBox("AZGJEnable", Model.AZGJEnable) 艾众管家
        </label>
        <label class="checkbox-inline">
            @Html.CheckBox("ZYPTEnable", true) 资源平台Web
        </label>
    </div>
</div>
    


