@model Resource.Model.V_RM

@if (ViewBag.resource != null)
{
    <fieldset class="layui-elem-field layui-field-title" style="padding:0px;">
        <legend style="padding:0px; margin:0px;border-bottom:2px solid #0094ff;color:#f6850a;">基础资料</legend>
    </fieldset>
}
<div class="form-group">
    <label class="control-label col-md-1">园区</label>
    <div class="col-md-2">
        @{ Html.RenderAction("ParkDrop", "Drop", new { pid = "", id = Model.ParkID, model = 1 });}
    </div>
    <label class="control-label col-md-1">建设期</label>
    <div class="col-md-2">
        @{ Html.RenderAction("StageDrop", "Drop", new { pid = Model.ParkID, id = Model.StageID, model = 1 });}
        @*<select class="selectpicker form-control pull-righ" name="StageID" id="stage" title="请选择...">
                <option value="@Model.StageID" selected>@Model.StageName</option>
            </select>*@
    </div>
    <label class="control-label col-md-1">楼栋</label>
    <div class="col-md-2">
        @{ Html.RenderAction("BuildingDrop", "Drop", new { pid = Model.StageID, id = Model.BuildingID, model = 1 });}
        @*<select class="selectpicker form-control pull-righ" name="BuildingID" id="building" title="请选择...">
                <option value="@Model.BuildingID" selected>@Model.BuildingName</option>
            </select>*@
    </div>
    <label class="control-label col-md-1">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>楼层
    </label>
    <div class="col-md-2">
        @{ Html.RenderAction("FloorDrop", "Drop", new { pid = Model.BuildingID, id = Model.ParentID, model = 1 });}
        @*<select class="selectpicker form-control pull-righ" name="ParentID" id="floor" title="请选择...">
                <option value="@Model.ParentID" selected>@Model.FloorName</option>
            </select>*@
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-1">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>房间编号
    </label>
    <div class="col-md-2">
        @if (string.IsNullOrEmpty(Model.ID))
        {
            <input type="text" class="form-control" name="ID" placeholder="必填项" required maxlength="50">
        }
        else
        {
            <input type="text" class="form-control" name="ID" placeholder="必填项" value="@Model.ID" readonly>
        }

    </div>
    <label class="control-label col-md-1">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>房间号
    </label>
    <div class="col-md-2">
        <input type="text" class="form-control" name="Name" placeholder="必填项" value="@Model.Name" required maxlength="50">
    </div>
    <label class="control-label col-md-1">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>出租类型
    </label>
    <div class="col-md-2">
        <input type="hidden" name="ResourceKindID" value="1" />
        @{ Html.RenderAction("ResourceTypeDrop", "Drop", new { kind = 1, id = Model.ResourceTypeID, model = 1 });}
    </div>
    <label class="control-label col-md-1">资源分组</label>
    <div class="col-md-2">
        @{ Html.RenderAction("GroupDrop", "Drop", new { kind = 1, code = Model.GroupID, model = 1 });}
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-1">楼栋面积</label>
    <div class="col-md-2">
        <input type="text" class="form-control" name="Area"
               value="@Model.Area">
    </div>
    <label class="control-label col-md-1">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>出租面积
    </label>
    <div class="col-md-2">
        <input type="text" class="form-control" name="RentArea" placeholder="必填项" value="@Model.RentArea">
    </div>
    <label class="control-label col-md-1">可租面积</label>
    <div class="col-md-2">
        <input type="text" class="form-control" name="RangeArea" value="@Model.RangeArea">
    </div>
    <label class="control-label col-md-1">起租面积</label>
    <div class="col-md-2">
        <input type="text" class="form-control" name="StartArea" value="@Model.StartArea">
    </div>
</div>
@{Html.RenderPartial("_PriceRM");}
<div class="form-group">
    <label class="control-label col-md-1">位置</label>
    <div class="col-md-11">
        <input type="text" class="form-control" name="Location" value="@Model.Location">
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-1">上传图片</label>
    <div class="col-md-11">
        @{Html.RenderPartial("_ResourceImg");}
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-1">资源详情</label>
    <div class="col-md-11">
        <script id="Content" name="Content" type="text/plain">
            @Html.Raw(Model.Content)
        </script>
    </div>
</div>
<div class="cmtdiv col-md-offset-1">
    <input type="submit" class="btn btn-primary" data-url="@Url.Action("AddOrUpdate")" value="保存">
    <input type="button" class="btn btn-danger" value="关闭" onclick="javascript: parent.layer.closeAll();">
</div>