@model Resource.Model.V_Resource

@if (ViewBag.resource != null)
{
    <fieldset class="layui-elem-field layui-field-title" style="padding:0px;">
        <legend style="padding:0px; margin:0px;border-bottom:2px solid #0094ff;color:#f6850a;">基础资料</legend>
    </fieldset>
}
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>会议室编号
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @if (string.IsNullOrEmpty(Model.ID))
        {
            <input type="text" class="form-control" name="ID" id="id" placeholder="必填项" required maxlength="50">
        }
        else
        {
            <input type="text" class="form-control" name="ID" id="id" placeholder="必填项" value="@Model.ID" readonly>
        }
    </div>
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>会议室名称
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="text" class="form-control" name="Name" value="@Model.Name">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:3px;">*</font>园区
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @{ Html.RenderAction("ParkDrop", "Drop", new { pid = "", id = Model.Loc1, model = 1 });}
    </div>
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:3px;">*</font>容纳人数
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="text" class="form-control" name="RangeNum" value="@Model.RangeNum">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">面积</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="number" class="form-control" name="Area" value="@Model.Area">
    </div>
    <label class="control-label col-lg-2 col-md-2 col-sm-2">押金</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="number" class="form-control" name="Deposit" value="@Model.Deposit">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">资源分组</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="hidden" name="ResourceKindID" value="3" />
        @{ Html.RenderAction("GroupDrop", "Drop", new { kind = 3, id = Model.GroupID, model = 1 });}
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">位置</label>
    <div class="col-lg-10 col-md-10 col-sm-10">
        <input type="text" class="form-control" name="Location" onmouseover="this.title=this.value" value="@Model.Location" placeholder="请填写位置信息">
    </div>
</div>
@{Html.RenderPartial("_PriceMR");}
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">上传图片</label>
    <div class="col-lg-10 col-md-10 col-sm-10">
        @{Html.RenderPartial("_ResourceImg");}
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">资源详情</label>
    <div class="col-lg-10 col-md-10 col-sm-10">
        <script id="Content" name="Content" type="text/plain">
            @Html.Raw(Model.Content)
        </script>
    </div>
</div>
@if (ViewBag.check == null)
{
    <div class="cmtdiv col-md-offset-1">
        <input type="submit" class="btn btn-primary" data-url="@Url.Action("AddOrUpdate")" value="保存">
        <input type="button" class="btn btn-danger" value="关闭" onclick="javascript: parent.layer.closeAll();">
    </div>
}
@*<div class="cmtdiv col-md-offset-1">
    <input type="submit" class="btn btn-primary" data-url="@Url.Action("AddOrUpdate")" value="保存">
    <input type="button" class="btn btn-danger" value="关闭" onclick="javascript: parent.layer.closeAll();">
</div>*@
