@model Resource.Model.V_Resource

@if (ViewBag.resource != null)
{
    <fieldset class="layui-elem-field layui-field-title" style="padding:0px;">
        <legend style="padding:0px; margin:0px;border-bottom:2px solid #0094ff;color:#f6850a;">基础资料</legend>
    </fieldset>
}
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>工位编号
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @if (string.IsNullOrEmpty(Model.ID))
        {
            <input type="text" class="form-control" name="ID" id="id" placeholder="必填项" required maxlength="50">
        }
        else
        {
            <input type="text" class="form-control" name="ID" id="id" placeholder="必填项" value="@Model.ID" readonly>
        }
        @*<input type="text" class="form-control" name="ID" id="id" placeholder="必填项" value="@Model.ID">*@
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>工位人数
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="number" class="form-control" name="Number" value="@Model.Number" required>
    </div>
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>工位单价
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="number" class="form-control" name="Price" value="@Model.Price" required>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>园区
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @{ Html.RenderAction("ParkDrop", "Drop", new { pid = "", id = Model.Loc1, model = 1 });}
    </div>
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>建设期
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @{ Html.RenderAction("StageDrop", "Drop", new { pid = Model.Loc1, id = Model.Loc2, model = 1 });}
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>楼栋
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @{ Html.RenderAction("BuildingDrop", "Drop", new { pid = Model.Loc2, id = Model.Loc3, model = 1 });}
    </div>
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>楼层
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @{ Html.RenderAction("FloorDrop", "Drop", new { pid = Model.Loc3, id = Model.Loc4, model = 1 });}
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">
        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>房间编号
    </label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        @{ Html.RenderAction("RMDrop", "Drop", new { pid = Model.Loc4, id = Model.Loc5, model = 1 });}
    </div>
    <label class="control-label col-lg-2 col-md-2 col-sm-2">资源分组</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="hidden" name="ResourceKindID" value="2" />
        @{ Html.RenderAction("GroupDrop", "Drop", new { kind = 2, id = Model.GroupID, model = 1 });}
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">起租个数</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="number" class="form-control" name="StartNum" value="@Model.StartNum">
    </div>
    <label class="control-label col-lg-2 col-md-2 col-sm-2">可租个数</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <input type="number" class="form-control" name="RangeNum" value="@Model.RangeNum">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">位置</label>
    <div class="col-lg-10 col-md-10 col-sm-10">
        <input type="text" class="form-control" name="Location" value="@Model.Location" placeholder="请填写位置信息">
    </div>
</div>
@{Html.RenderPartial("_PriceCB");}
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">上传图片</label>
    <div class="col-lg-10 col-md-10 col-sm-10">
        @{Html.RenderPartial("_ResourceImg");}
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2 col-md-2 col-sm-2">资源详情</label>
    <div class="col-lg-10 col-md-10 col-sm-10">
        <script id="Content" name="Content" type="text/plain">
            @Html.Raw(Model.Content)
        </script>
    </div>
</div>
@if (ViewBag.check == null)
{
    <div class="cmtdiv col-md-offset-1">
        <input type="submit" class="btn btn-primary" data-url="@Url.Action("AddOrUpdate")" value="保存">
        <input type="button" class="btn btn-danger" value="关闭" onclick="javascript: parent.layer.closeAll();">
    </div>
}
@*<div class="cmtdiv col-md-offset-1">
    <input type="submit" class="btn btn-primary" value="保存" data-url="@Url.Action("AddOrUpdate")">
    <input type="button" class="btn btn-danger" value="关闭" onclick="javascript: parent.layer.closeAll();">
</div>*@
