@model Resource.Model.T_ResourcePublic
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>房屋资源发布</title>
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/app/css/app.form.css")
    @Styles.Render("~/Plugins/app/css/app.img.css")
</head>
<body>
    <div class="container">
        <div style="margin:0 auto;">
            @*@if (string.IsNullOrEmpty(Model.ResourceID))
            {
                <h3 style="margin-top:30px;text-align:center">新增房屋资源发布信息</h3>
            }
            else
            {
                <h3 style="margin-top:30px;text-align:center">编辑房屋资源发布信息</h3>
            }*@  
            <h3 style="margin-top:30px;text-align:center">房屋资源发布信息</h3>
            @using (Ajax.BeginForm("Create", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "cmtSuccess",
                OnFailure = "cmtFailed"
            }, new { @class = "form-horizontal" }))
            {
                Html.RenderPartial("_PublicInfo", Model);
                Html.RenderPartial("_ResourceRM", ViewBag.resource as V_RS_Info);
            }
        </div>
    </div>
    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/jquery/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Plugins/ueditor/ueditor.config.js")
    @Scripts.Render("~/Plugins/ueditor/ueditor.all.js")
    @Scripts.Render("~/Plugins/ueditor/lang/zh-cn/zh-cn.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
    @Scripts.Render("~/Plugins/app/js/app.res.js")
    <script>
        $(function () {
            dropChange(2);
            layui.use('laydate', function () {
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#PubTime',
                    range: '~'//指定元素
                });
                //执行一个laydate实例
                //laydate.render({
                //    elem: '#BeginTime' //指定元素
                //});
                //laydate.render({
                //    elem: '#EndTime' //指定元素
                //});
            });
        });
    </script>
</body>

</html>
