
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>序号</th>
            <th>城市名称</th>
            <th>区域编码</th>            
            <th>区域名称</th>
        </tr>
    </thead>
    <tbody>
        @{
            int id = 1;
            if (ViewBag.regionList != null)
            {
                foreach (var item in ViewBag.regionList)
                {
                    <tr>
                        <td class="pkey" style="display:none">@item.region.ID</td>
                        <td>@id</td>
                        <td>@item.city.Name</td>
                        <td>@item.region.Code</td>                        
                        <td>@item.region.Name</td>
                    </tr>
                    id++;
                }
            }
            else
            {
                <tr><td style="text-align:center" colspan="4">数据加载异常</td></tr>
            }
        }
    </tbody>
</table>

