
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>楼层管理</title>
    @Styles.Render("~/common/css")
    @Styles.Render("~/app/css")
</head>
<body>
    <div class="container">
        <div class="func-action">
            <button type="button" class="btn btn-primary" id="add"><i class="glyphicon glyphicon-plus"></i> 新增</button>
            <button type="button" class="btn btn-primary" id="edit"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
            <button type="button" class="btn btn-danger" id="del"><i class="glyphicon glyphicon-trash"></i> 删除</button>
        </div>
        <div class="select-action">
            <div class="row">

                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-addon">城市：</span>
                        @Html.Action("GetDropData", "City")
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-addon">区域：</span>
                        @Html.Action("GetDropData", "Region")
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-addon">园区：</span>
                        @Html.Action("GetDropData", "Park")
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-addon">建设期：</span>
                        @Html.Action("GetDropData", "Stage")
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-addon">建筑：</span>
                        @Html.Action("GetDropData", "Building")
                    </div>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary" id="Check" style="font-size:15px;">
                        <i class="layui-icon layui-icon-search"></i> 查 询
                    </button>
                </div>
            </div>
        </div>
        <div class="data-action">
            @Html.Action("Details", "Floor")
        </div>
    </div>
    @Scripts.Render("~/common/js")
    <script src="~/Plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/Plugins/app/js/app.floor.js"></script>
</body>
</html>
