@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>房屋销控</title>
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/app/css/app.index.css")
    @Styles.Render("~/Plugins/app/css/status/app.scom.css")
    @Styles.Render("~/Plugins/app/css/status/app.srm.css")
    <style>
        .detail {
            border: solid 1px red;
            width: 300px;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="checkArea">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">园区</span>
                        @{ Html.RenderAction("ParkDrop", "Drop", new { pid = "", id = "", model = 1 });}
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">房间号</span>
                        <input type="text" class="form-control" id="name" placeholder="房间号" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">客户</span>
                        <input type="text" class="form-control" id="cust" placeholder="客户" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">状态</span>
                        <select class="selectpicker form-control pull-righ" id="status">
                            <option value="">全部</option>
                            <option value="1">客户占用</option>
                            <option value="2">内部占用</option>
                            <option value="3">空闲</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <button type="button" class="btn btn-primary" id="search" style="font-size:15px;" data-url="@Url.Action("Search")">
                        <i class="layui-icon layui-icon-search"></i> 查 询
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top:8px;">
                <div class="btn-group" id="build">
                </div>
            </div>
        </div>
        <div class="resourceContainer">

        </div>
        <div class="detailContainer" style="display:none;">
        </div>
    </div>

    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
    @Scripts.Render("~/Plugins/app/js/status/app.srm.js")
</body>
</html>
