@{
    Layout = null;
}
@model Resource.Model.T_ResourceStatus

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>客户占用</title>
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/app/css/app.form.css")
</head>
<body>
    <div class="container">
        <div style="margin:0 auto;max-width:900px;">
            <h3 style="margin:30px 0px;text-align:center">客户占用</h3>
            @using (Ajax.BeginForm("Reserve", new { id = Model.ID }, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "cmtSuccess",
                OnFailure = "cmtFailed"
            }, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3">
                        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>资源编号
                    </label>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <input type="hidden" name="BSType" value="1">
                        <input type="text" class="form-control" id="rid" name="RID" value="@Model.RID" readonly required>
                        <button type="button" class="btn btn-primary" id="rschoice" data-url="@Url.Action("RSIndex")" style="position:absolute;top:0;right:15px;">
                            <i class="glyphicon glyphicon-search"></i> 添加
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3">
                        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>公司名称
                    </label>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <input type="text" class="form-control" name="Company" value="@Model.Company" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3">
                        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>联系人
                    </label>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <input type="text" class="form-control" name="ContactName" value="@Model.ContactName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3">联系电话</label>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <input type="tel" class="form-control" name="ContactTel" value="@Model.ContactTel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3">
                        <font color="red" style="position:relative; top:3px;margin-right:2px;">*</font>占用时间
                    </label>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <input type="text" class="form-control" id="time" name="Time" value="@Convert.ToDateTime(Model.BegTime).ToString("yyyy-MM-dd HH:mm:ss") ~ @Convert.ToDateTime(Model.EndTime).ToString("yyyy-MM-dd HH:mm:ss")" readonly required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3">使用部门</label>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <input type="text" class="form-control" name="ReserveDept" value="@Model.ReserveDept">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3">使用人</label>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <input type="text" class="form-control" name="ReserveName" value="@Model.ReserveName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3">备注/用途</label>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <input type="text" class="form-control" name="Remark" value="@Model.Remark">
                    </div>
                </div>
                <div class="cmtdiv col-md-offset-1">
                    <input type="submit" class="btn btn-primary" value="保存">
                    <input type="button" class="btn btn-danger" value="关闭" onclick="javascript: parent.layer.closeAll();">
                </div>
            }
        </div>
    </div>
    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/jquery/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
    <script>
        $(function () {
            $("#rschoice").click(function () {
                var url = $(this).attr('data-url');
                var index = layer.open({
                    type: 2,
                    content: url,
                    title: ' '
                });
                layer.full(index);
            });
            layui.use('laydate', function () {                
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#time',
                    range: '~',
                    type: 'datetime'
                });
            });
        });
    </script>
</body>
</html>
