@helper park()
{
    foreach (var item in ViewBag.park)
    {
        <label class="checkbox-inline" style="margin-left:10px;">
            <input type="checkbox" class="mypark" value="@item.ID"> @item.Name
        </label>
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增用户</title>
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/app/css/app.form.css")
</head>
<body>
    <div class="container">
        <div style="max-width:500px;margin:0 auto;">
            <h3 style="margin:30px;text-align:center">新增用户</h3>
            @using (Ajax.BeginForm("Create", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "cmtSuccess",
                OnFailure = "cmtFailed"
            }, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="control-label col-md-3"><font color="red" style="position:relative; top:3px;margin-right:3px;">*</font>登录账户</label>
                    <div class="col-md-8">
                        @Html.TextBox("Account", "", new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">用户姓名</label>
                    <div class="col-md-8">
                        @Html.TextBox("UserName", "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3"><font color="red" style="position:relative; top:3px;margin-right:3px;">*</font>登录密码</label>
                    <div class="col-md-8">
                        @Html.Password("PWD", "", new { @class = "form-control", @id = "" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">所属园区</label>
                    <div class="col-md-8">
                        <input type="hidden" name="Park" id="Park" />
                        @park()
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">初始角色</label>
                    <div class="col-md-3">
                        <select class="selectpicker form-control pull-righ" name="InitRole" title="请选择...">
                            <option value="1">管理员角色</option>
                            <option value="2">一般角色</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">联系电话</label>
                    <div class="col-md-8">
                        @Html.TextBox("Phone", "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">联系邮箱</label>
                    <div class="col-md-8">
                        @Html.TextBox("Email", "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">联系地址</label>
                    <div class="col-md-8">
                        @Html.TextBox("Addr", "", new { @class = "form-control" })
                    </div>
                </div>
                <div style="text-align:center;margin:30px 0px;">
                    <input type="submit" class="btn btn-primary" style="font-size:16px;" value="保存">
                    <input type="button" class="btn btn-danger" style="font-size:16px;margin-left:10px;" value="关闭" onclick="javascript: parent.layer.closeAll();">
                </div>
            }
        </div>
    </div>
    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/jquery/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
    <script>
        $(function () {
            $(".mypark").change(function () {
                var park = "";
                $("input:checkbox[class='mypark']:checked").each(function () {
                    park = park + $(this).val() + ",";
                });
                $("#Park").val(park.substring(0, park.length - 1));
            });
        });
    </script>
</body>
</html>
