@model Resource.Model.T_User
<!DOCTYPE html>
@helper park()
{
    
    foreach (var item in ViewBag.park)
    {
        bool flag = false;
        string[] list = Model.Park.Split(',');
        for (int i = 0; i < list.Length; i++)
        {
            if (list[i] == Convert.ToString(item.ID))
            {
                flag = true;
                break;
            }
        }
        <label class="checkbox-inline" style="margin-left:10px;">
            @if (flag == true)
            {
                <input type="checkbox" class="mypark" value="@item.ID" checked> @item.Name

            }
            else
            {
                <input type="checkbox" class="mypark" value="@item.ID"> @item.Name
            }
        </label>
    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑用户</title>
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/app/css/app.form.css")
</head>
<body>
    <div class="container">
        <div style="max-width:500px;margin:0 auto;">
            <h3 style="margin:30px;text-align:center">编辑用户</h3>
            @using (Ajax.BeginForm("Edit", new { id = Model.Account }, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "cmtSuccess",
                OnFailure = "cmtFailed"
            }, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="control-label col-md-3"><font color="red" style="position:relative; top:3px;margin-right:3px;">*</font>登录账户</label>
                    <div class="col-md-8">
                        @Html.TextBox("Account", Model.Account, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="control-label col-md-3">登录密码</label>
                        <div class="col-md-8">
                            @Html.Password("PWD", Model.PWD, new { @class = "form-control", @id = "" })
                        </div>
                    </div>*@
                <div class="form-group">
                    <label class="control-label col-md-3">用户名称</label>
                    <div class="col-md-8">
                        @Html.TextBox("UserName", @Model.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">所属园区</label>
                    <div class="col-md-8">
                        <input type="hidden" name="Park" id="Park" />
                        @park()
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">联系电话</label>
                    <div class="col-md-8">
                        @Html.TextBox("Phone", Model.Phone, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">联系邮箱</label>
                    <div class="col-md-8">
                        @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">联系地址</label>
                    <div class="col-md-8">
                        @Html.TextBox("Addr", Model.Addr, new { @class = "form-control" })
                    </div>
                </div>
                <div style="text-align:center;margin:30px 0px;">
                    <input type="submit" class="btn btn-primary" style="font-size:16px;" value="保存">
                    <input type="button" class="btn btn-danger" style="font-size:16px;margin-left:10px;" value="关闭" onclick="javascript: parent.layer.closeAll();">
                </div>
            }
        </div>
    </div>
    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/jquery/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
    <script>
        $(function () {
            $(".mypark").change(function () {
                var park = "";
                $("input:checkbox[class='mypark']:checked").each(function () {
                    park = park + $(this).val() + ",";
                });
                $("#Park").val(park.substring(0, park.length - 1));
            });
        });
    </script>

</body>
</html>
