@model List<Resource.Model.T_RoleFunc>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户管理</title>
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/app/css/app.index.css")
</head>
<body>
    <div class="container">
        @Html.Partial("_Func")
        <div class="select-action">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">登录账户</span>
                        <input type="text" class="form-control" id="id">
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">用户名称</span>
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">创建时间</span>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <input class="form-control" id="stime">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <label style="margin:0px;width:100%;height:34px;text-align:center;line-height:34px;">-</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input class="form-control" id="etime">
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">创建时间</span>
                            <input type="text" class="form-control pull-right" id="time">
                        </div>
                    </div>*@
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">状态</span>
                        <select class="selectpicker form-control pull-righ" id="enable">
                            <option value="">全部</option>
                            <option value="false">停用</option>
                            <option value="true">启用</option>
                        </select>
                    </div>
                </div>
                @*<div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input type="text" class="form-control pull-right" id="EndTime">
                        </div>
                    </div>*@
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <button type="button" class="btn btn-primary" id="search" data-url="@Url.Action("Search")" style="font-size:15px;">
                        <i class="layui-icon layui-icon-search"></i> 查 询
                    </button>
                </div>
            </div>
        </div>
        <div class="data-action">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>登录账户</th>
                        <th>用户名称</th>
                        <th>联系电话</th>
                        <th>联系邮箱</th>
                        <th>通讯地址</th>
                        <th>创建日期</th>
                        <th>用户状态</th>
                    </tr>
                </thead>
                <tbody id="tb"></tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
    <script id="tableTpl" type="text/html">
        {{each data value i}}
        <tr>
            <td>{{i+1}}</td>
            <td class="key">{{value.Account}}</td>
            <td>{{value.UserName}}</td>
            <td>{{value.Phone}}</td>
            <td>{{value.Email}}</td>
            <td>{{value.Addr}}</td>
            <td>{{value.CreateTime}}</td>
            <td class="enable" data-enable="{{value.Enable}}">
                {{if value.Enable==0}}停用
                {{else}}启用
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </script>

    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/artTemplate/template-web.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
    @Scripts.Render("~/Plugins/app/js/app.index.js")
</body>
</html>
