
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>序号</th>
            <th>城市</th>
            <th>区域</th>
            <th>园区</th>
            <th>建设期编号</th>
            <th>建设期名称</th>
        </tr>
    </thead>
    <tbody>
        @{
            int id = 1;
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td id="key" style="display:none">@item.ID</td>
                        <td>@id</td>
                        <td>@item.CityName</td>
                        <td>@item.RegionName</td>
                        <td>@item.ParkName</td>
                        <td>@item.StageCode</td>
                        <td>@item.StageName</td>
                    </tr>
                    id++;
                }
            }
        }
    </tbody>
</table>



