<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑建设期</title>
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/app/css/app.form.css")
</head>
<body>
    <div class="container">
        <div style="max-width:400px;margin:0 auto;">
            <h3 style="margin:30px 0px;text-align:center">编辑建设期</h3>
            @using (Ajax.BeginForm("Create", new { id = Model.ID }, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "cmtSuccess",
                OnFailure = "cmtFailed"
            }, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="control-label col-md-4">
                        <font color="red" style="position:relative; top:3px;margin-right:3px;">*</font>园区
                    </label>
                    <div class="col-md-8">
                        @Html.Action("ParkDrop", "Drop", new { pid = "", id = Model.ParkID, model = 1 })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        <font color="red" style="position:relative; top:3px;margin-right:3px;">*</font>编号
                    </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="ID" value="@Model.ID" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        <font color="red" style="position:relative; top:3px;margin-right:3px;">*</font>名称
                    </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="Name" value="@Model.Name" required maxlength="50">
                    </div>
                </div>
                <div style="text-align:center;margin:20px 0px;">
                    <input type="submit" class="btn btn-primary" value="保存">
                    <input type="button" class="btn btn-danger" value="关闭" onclick="javascript: parent.layer.closeAll();" style="margin-left:10px;">
                </div>
            }
        </div>
    </div>
    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/jquery/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
</body>
</html>
