@helper rm()
{
    //if (ViewBag.rm != null && ViewBag.rm.Count > 0)
    //{
    <table class="table">
        <tr>
            <td>楼栋</td>
            <td>空置面积</td>
            <td>空置套数</td>
        </tr>
        @if (ViewBag.rm.Count > 0)
        {
            foreach (var item in ViewBag.rm)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Area</td>
                    <td>@item.Count</td>
                </tr>
            }
            <tr class="rmcount">
                <td>汇总</td>
                <td>@ViewBag.AreaCount</td>
                <td>@ViewBag.NumberCount</td>
            </tr>
        }
        else
        {
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        }

</table>
    @*}
        else
        {
            <div>暂无数据</div>
        }*@

}
@helper cb()
{
    if (ViewBag.cb != null && ViewBag.cb.Count > 0)
    {
        <table class="table">
            <tr>
                <td>工位总数</td>
                <td>已租个数</td>
                <td>空置个数</td>
                <td>出租率</td>
            </tr>
            @foreach (var item in ViewBag.cb)
            {
                <tr>
                    <td>@item.Count</td>
                    <td>@item.Rent</td>
                    <td>@item.Free</td>
                    <td>@item.Rate</td>
                </tr>
            }
        </table>
    }

}
@helper mr()
{
    if (ViewBag.mr != null && ViewBag.mr.Count > 0)
    {
        <table class="table">
            <tr>
                <td>会议室总数</td>
                <td>已租个数</td>
                <td>空置个数</td>
                <td>出租率</td>
            </tr>
            @foreach (var item in ViewBag.mr)
            {
                <tr>
                    <td>@item.Count</td>
                    <td>@item.Rent</td>
                    <td>@item.Free</td>
                    <td>@item.Rate</td>
                </tr>
            }
        </table>
    }

}
@helper ad()
{
    if (ViewBag.ad != null && ViewBag.ad.Count > 0)
    {
        <table class="table">
            <tr>
                <td>广告位总数</td>
                <td>已租个数</td>
                <td>空置个数</td>
                <td>出租率</td>
            </tr>

            @foreach (var item in ViewBag.ad)
            {
                <tr>
                    <td>@item.Count</td>
                    <td>@item.Rent</td>
                    <td>@item.Free</td>
                    <td>@item.Rate</td>
                </tr>
            }
        </table>
    }

}

<div class="col-lg-6 col-md-6 col-sm-6 res" id="rm">
    <div class="reskind">
        <i class="fa fa-circle-thin" style="color:blue; font-size:10px;"></i> 房屋
    </div>
    @rm()
</div>

<div class="col-lg-6 col-md-6 col-sm-6 res" id="cb">
    <div class="reskind">
        <i class="fa fa-circle-thin" style="color:blue; font-size:10px;"></i> 工位
    </div>
    @cb()
</div>

<div class="col-lg-6 col-md-6 col-sm-6 res" id="mr">
    <div class="reskind">
        <i class="fa fa-circle-thin" style="color:blue; font-size:10px;"></i> 会议室
    </div>
    @mr()
</div>

<div class="col-lg-6 col-md-6 col-sm-6 res" id="ad">
    <div class="reskind">
        <i class="fa fa-circle-thin" style="color:blue; font-size:10px;"></i> 广告位
    </div>
    @ad()
</div>
