@{
    Layout = null;
}
@helper res()
{
    <div class="col-lg-6 col-md-6 col-sm-6" id="resource">
        <h4>业务概览</h4>
        <div class="row" style="padding-left:0px;background-color: #fff;border:1px solid #ccc;border-bottom:none;">
            <div class="col-lg-2 col-md-2 col-sm-2" style="padding:10px 10px 10px 5px;">
                <div class="input-group">
                    <span class="input-group-addon">园区</span>
                    @{ Html.RenderAction("ParkDrop", "Drop", new { pid = "", id = "", model = 1 });}
                </div>
            </div>
        </div>
        <div id="resourceData">
            @Html.Partial("_Resource")
        </div>

    </div>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>我的工作台</title>
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Scripts.Render("~/Plugins/artTemplate/template-web.js")
    @Styles.Render("~/Plugins/app/css/app.work.css")
</head>
<body>
    <div class="container">
        @*@Html.Partial("_BusinessData")*@
        @if (ViewBag.func != null && ViewBag.func.Count > 0)
        {
            var func = ViewBag.func as List<T_MenuFunc>;
            <div class="row">
                @if (func.Where(a => a.Code == "resource").Count() > 0)
                {
                    Html.RenderPartial("_Resource");
                }
                @if (func.Where(a => a.Code == "transaction").Count() > 0)
                {
                    Html.RenderPartial("_Transaction");
                }
            </div>

                if (func.Where(a => a.Code == "order").Count() > 0)
                {
                    Html.RenderPartial("_Order");
                }
        }

    </div>

    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/echarts/echarts.common.min.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
    @Scripts.Render("~/Plugins/app/js/app.work.js")
</body>
</html>
