
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>序号</th>            
            <th>城市</th>
            <th>区域</th>
            <th>编码</th>
            <th>名称</th>
            <th>地址</th>
            <th>经度(X)</th>
            <th>纬度(Y)</th>
        </tr>
    </thead>
    <tbody>
        @{
            int id = 1;
            if (ViewBag.parkList != null)
            {
                foreach (var item in ViewBag.parkList)
                {
                    <tr>
                        <td class="pkey" style="display:none">@item.park.ID</td>
                        <td>@id</td>                        
                        <td>@item.city.Name</td>
                        <td>@item.region.Name</td>
                        <td>@item.park.Code</td>
                        <td>@item.park.Name</td>
                        <td>@item.park.Addr</td>
                        <td>@item.park.GisX</td>
                        <td>@item.park.GisY</td>
                    </tr>
                    id++;
                }
            }
            else
            {
                <tr><td style="text-align:center" colspan="8">数据加载异常</td></tr>
            }
        }
    </tbody>
</table>


