<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑园区</title>
    @Styles.Render("~/common/css")
    @Styles.Render("~/app/css")
</head>
<body>
    <div class="container">
        <div style="max-width:400px;margin:0 auto;">
            <h3 style="margin:30px 0px;text-align:center">编辑园区</h3>
            @using (Ajax.BeginForm("Edit", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "commitResult",
                OnFailure = "commitResult"
            }, new { @class = "form-horizontal" }))
            {
                <div class="form-group" style="display:none;">
                    <label class="control-label col-md-4">pkey：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="ID" value="@Model.ID">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">城市：</label>
                    <div class="col-md-8">
                        @Html.Action("GetDropData", "City", new { selectCode = Model.CityCode})
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">区域：</label>
                    <div class="col-md-8">
                        @Html.Action("GetDropData", "Region",new  { parentCode="", selectCode = Model.RegionCode })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">园区编码：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="Code" value="@Model.ParkCode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">园区名称：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="Name" value="@Model.ParkName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">园区简称：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="ParkShortName" value="@Model.ParkShortName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">园区地址：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="Addr" value="@Model.Addr">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">联系人：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="Addr" value="@Model.ContactName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">联系人电话号码：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="ContactPhone" value="@Model.ContactPhone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">联系人手机电话：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="ContactMobile" value="@Model.ContactMobile">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">联系人邮箱地址：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="ContactEmail" value="@Model.ContactEmail">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">联系人通讯地址：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="ContactAddr" value="@Model.ContactAddr">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">备注：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="ContactMark" value="@Model.ContactMark">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-4">经度(X)：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="GisX" value="@Model.GisX">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">园纬度(Y)：</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="GisY" value="@Model.GisY">
                    </div>
                </div>
                <p style="text-align:center;margin:20px 0px;">
                    <input type="submit" class="btn btn-primary" value="提交">
                    <input type="button" class="btn btn-danger" value="关闭" onclick="javascript: parent.layer.closeAll();" style="margin-left:10px;">
                </p>
            }
        </div>
    </div>
    @Scripts.Render("~/common/js")
    <script src="~/Plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
</body>
</html>
