@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>资源统计列表</title>
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/app/css/app.index.css")
    @Styles.Render("~/Plugins/app/css/app.statistics.css")
</head>
<body>
    <div class="container">
        <div class="select-action">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">园区</span>
                        @{ Html.RenderAction("ParkDrop", "Drop", new { pid = "", id = "", model = 2 });}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">查询时间</span>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <input class="form-control" id="stime">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <label style="margin:0px;width:100%;height:34px;text-align:center;line-height:34px;">-</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input class="form-control" id="etime">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <button type="button" class="btn btn-primary" id="search" data-url="@Url.Action("Search")" style="font-size:15px;">
                        <i class="layui-icon layui-icon-search"></i> 查 询
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-tab  layui-tab-brief">
            <ul class="layui-tab-title">
                <li>列表</li>
                <li class="layui-this">图表</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item">
                    <div class="statistics-panel">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 statistics-title">
                                房屋
                            </div>
                            <div class="col-lg-2 col-md-2 statistics-total">
                                <div class="statistics-name">总面积</div>
                                <div class="statistics-num"><span id="rm-total">0</span><span>㎡</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">客户租赁面积</div>
                                <div class="statistics-rate"><span id="rm-rentRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="rm-rent">0</span><span>㎡</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">内部使用面积</div>
                                <div class="statistics-rate"><span id="rm-selfRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="rm-self">0</span><span>㎡</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">空置面积</div>
                                <div class="statistics-rate"><span id="rm-freeRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="rm-free">0</span><span>㎡</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 statistics-title">
                                工位
                            </div>
                            <div class="col-lg-2 col-md-2 statistics-total">
                                <div class="statistics-name">工位总数</div>
                                <div class="statistics-num"><span id="wp-total">0</span><span>次</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">客户租赁个数</div>
                                <div class="statistics-rate"><span id="wp-rentRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="wp-rent">0</span><span>次</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">内部使用个数</div>
                                <div class="statistics-rate"><span id="wp-selfRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="wp-self">0</span><span>次</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">空置个数</div>
                                <div class="statistics-rate"><span id="wp-freeRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="wp-free">0</span><span>次</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 statistics-title">
                                会议室
                            </div>
                            <div class="col-lg-2 col-md-2 statistics-total">
                                <div class="statistics-name">总租赁次数</div>
                                <div class="statistics-num"><span id="cr-total">0</span><span>次</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">客户租赁次数</div>
                                <div class="statistics-rate"><span id="cr-rentRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="cr-rent">0</span><span>次</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">内部使用次数</div>
                                <div class="statistics-rate"><span id="cr-selfRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="cr-self">0</span><span>次</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">空置次数数</div>
                                <div class="statistics-rate" style="visibility:hidden;"><span id="cr-freeRate"></span>0<span></span>%</div>
                                <div class="statistics-num"><span id="cr-free">0</span><span>次</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 statistics-title">
                                广告位
                            </div>
                            <div class="col-lg-2 col-md-2 statistics-total">
                                <div class="statistics-name">广告位总数</div>
                                <div class="statistics-num"><span id="ad-total">0</span><span>个</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">客户租赁个数</div>
                                <div class="statistics-rate"><span id="ad-rentRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="ad-rent">0</span><span>个</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">内部使用个数</div>
                                <div class="statistics-rate"><span id="ad-selfRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="ad-self">0</span><span>个</span></div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="statistics-name">空置个数</div>
                                <div class="statistics-rate"><span id="ad-freeRate">0</span><span>%</span></div>
                                <div class="statistics-num"><span id="ad-free">0</span><span>个</span></div>
                            </div>                     
                        </div>
                    </div>

                    <div class="row" id="graph">
                    </div>
                </div>
                <div class="layui-tab-item layui-show">
                    <div class="row statistics-graph" id="statistics-graph">
                    </div>
                </div>
            </div>
        </div>


    </div>
    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/artTemplate/template-web.js")
    @Scripts.Render("~/Plugins/echarts/echarts.common.min.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
    @Scripts.Render("~/Plugins/app/js/app.statistics-all.js")
</body>
</html>
