@model Resource.Model.T_User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑用户</title>
    @Styles.Render("~/common/css")
    @Styles.Render("~/user/css")
</head>
<body>
    <div class="container">

        <div class="form-action edit">
            @*@using (Html.BeginForm("Create", "User", FormMethod.Post))
                {*@
            <form>
                <div class="form-header"><h2>Dorlly</h2></div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-user"></span>
                    <input type="text" class="form-control" name="userName" id="userName" value="@Model.UserName" placeholder="请输入用户名">
                </div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-lock"></span>
                    <input type="password" class="form-control" name="pwd" id="pwd" value="@Model.Password" placeholder="请输入密码">
                </div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-lock"></span>
                    <input type="password" class="form-control" name="confirmPwd" id="confirmPwd" value="@Model.Password" placeholder="请再次输入密码">
                </div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-earphone"></span>
                    <input type="tel" class="form-control" name="phone" id="phone" value="@Model.Phone" placeholder="请输入手机号码">
                </div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <input type="email" class="form-control" name="email" id="email" value="@Model.Email" placeholder="请输入邮箱地址">
                </div>
                <div class="form-group">
                    <span class="glyphicon glyphicon-home"></span>
                    <input type="text" class="form-control" name="addr" id="addr" value="@Model.Addr" placeholder="请输入联系地址">
                </div>
                <div class="form-group">
                    <span class="control-label glyphicon glyphicon-paperclip"></span>
                    @Html.DropDownList("role", ViewData["rList"] as SelectList, new { @class = "selectpicker", @data_width = "100%", @title = Model.T_Role.RoleName })
                </div>
                <div class="form-group">
                    <input type="hidden" name="userID" id="userID" value="@Model.UserID" style="display:none" />
                    <input type="submit" class="form-control" id="add" value="提&nbsp;&nbsp;&nbsp;&nbsp;交">
                </div>
            </form>
            @*}*@
        </div>
    </div>
    @Scripts.Render("~/common/js")
    @Scripts.Render("~/user/js")
</body>
</html>
