
<div class="form-group">
    <label class="control-label col-md-1">计价方式</label>
    <label class="control-label col-md-1">
        <input type="checkbox" />&nbsp;&nbsp;全天预定
    </label>
    <label class="control-label col-md-2" style="max-width:140px;">对内价格/全天</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InDayPrice" id="InDayPrice" value="@Model.InDayPrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;">对外价格/全天</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutDayPrice" id="OutDayPrice" value="@Model.OutDayPrice">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        <input type="checkbox" />&nbsp;&nbsp;半天预定
    </label>
    <label class="control-label col-md-2" style="max-width:140px;">对内价格/半天</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InHalfDayPrice" id="InHalfDayPrice" value="@Model.InHalfDayPrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;">对外价格/半天</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutHalfDayPrice" id="OutHalfDayPrice" value="@Model.OutHalfDayPrice">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        <input type="checkbox" />&nbsp;&nbsp;小时预定
    </label>
    <label class="control-label col-md-2" style="max-width:140px;">对内价格/小时</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InHourPrice" id="InHourPrice" value="@Model.InHourPrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;">对外价格/小时</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutHourPrice" id="OutHourPrice" value="@Model.OutHourPrice">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" style="visibility:hidden;">延时价格</label>
    <label class="control-label col-md-2" style="max-width:140px;">
        <font color="red" style="position:relative; top:3px;margin-right:3px;">*</font>对内延时价格
    </label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InDelayPrice" id="InDelayPrice" value="@Model.InDelayPrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;"><font color="red" style="position:relative; top:3px;margin-right:3px;">*</font>对外延时价格</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutDelayPrice" id="OutDelayPrice" value="@Model.OutDelayPrice">
    </div>
</div>