
<div class="form-group">
    <label class="control-label col-md-1">计价方式</label>
    <label class="control-label col-md-1">
        <input type="checkbox" />&nbsp;&nbsp;半天预定
    </label>
    <label class="control-label col-md-2" style="max-width:140px;">对内价格/半天</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InHalfDayPrice" id="InHalfDayPrice" value="@Model.InHalfDayPrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;">对外价格/半天</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutHalfDayPrice" id="OutHalfDayPrice" value="@Model.OutHalfDayPrice">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        <input type="checkbox" />&nbsp;&nbsp;全天预定
    </label>
    <label class="control-label col-md-2" style="max-width:140px;">对内价格/全天</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InDayPrice" id="InDayPrice" value="@Model.InDayPrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;">对外价格/全天</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutDayPrice" id="OutDayPrice" value="@Model.OutDayPrice">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        <input type="checkbox" />&nbsp;&nbsp;按周预定
    </label>
    <label class="control-label col-md-2" style="max-width:140px;">对内价格/周</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InWeekPrice" id="InWeekPrice" value="@Model.InWeekPrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;">对外价格/周</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutWeekPrice" id="OutWeekPrice" value="@Model.OutWeekPrice">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        <input type="checkbox" />&nbsp;&nbsp;按月预定
    </label>
    <label class="control-label col-md-2" style="max-width:140px;">对内价格/月</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InMonthPrice" id="InMonthrPrice" value="@Model.InMonthPrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;">对外价格/月</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutMonthPrice" id="OutMonthPrice" value="@Model.OutMonthPrice">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        <input type="checkbox" />&nbsp;&nbsp;按季预定
    </label>
    <label class="control-label col-md-2" style="max-width:140px;">对内价格/季</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InQuarterPrice" id="InQuarterPrice" value="@Model.InQuarterPrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;">对外价格/季</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutQuarterPrice" id="OutQuarterPrice" value="@Model.OutQuarterPrice">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        <input type="checkbox" />&nbsp;&nbsp;按年预定
    </label>
    <label class="control-label col-md-2" style="max-width:140px;">对内价格/年</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InYearPrice" id="InYearPrice" value="@Model.InYearPrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;">对外价格/年</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutYearPrice" id="OutYearPrice" value="@Model.OutYearPrice">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        <input type="checkbox" />&nbsp;&nbsp;按/个/次预定
    </label>
    <label class="control-label col-md-2" style="max-width:140px;">对内价格/个/次</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="InSinglePrice" id="InSinglePrice" value="@Model.InSinglePrice">
    </div>
    <label class="control-label col-md-2" style="max-width:120px;">对外价格/个/次</label>
    <div class="col-md-3">
        <input type="text" class="form-control" name="OutSinglePrice" id="OutSinglePrice" value="@Model.OutSinglePrice">
    </div>
</div>
