
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>房屋资源发布</title>
    @Styles.Render("~/common/css")
    @Styles.Render("~/app/css")
    @*<link href="~/Plugins/app/css/app.upload.css" rel="stylesheet" />*@
    @*<link href="~/Plugins/app/css/app.price.css" rel="stylesheet" />*@
    <link href="~/Plugins/app/css/app.form.css" rel="stylesheet" />
</head>
<body>
    @*@Html.Action("GetImage","Upload")*@
    <div class="container" >
        <form class="form-horizontal" style="margin:0px auto;">
            <div class="form-group">
                <label class="control-label col-md-2">发布编号：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="@DateTime.Now.ToString("yyyyMMddhhmmsss")" disabled />
                </div>
                <label class="control-label col-md-2">选择资源：</label>
                <div class="col-md-4">
                    <button class="btn btn-primary"><i class="layui-icon layui-icon-search"></i> 查询</button>
                </div>
            </div>

            @*<div class="form-group">
                <label class="control-label col-md-2">选择资源：</label>
                <div class="col-md-4">
                    <button class="btn"><i class="layui-icon layui-icon-search"></i> 查询</button>
                </div>
            </div>*@

            <div class="form-group">
                <label class="control-label col-md-2">资源编号：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
                <label class="control-label col-md-2">资源名称：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            @*<div class="form-group">
                <label class="control-label col-md-2">资源名称：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>*@

            <div class="form-group">
                <label class="control-label col-md-2">资源类别：</label>
                <div class="col-md-4">
                        @{
                            if (ViewData["cityList"] != null)
                            {
                                @Html.DropDownList("edit-type", ViewData["rTypeList"] as SelectList, new { @class = "selectpicker form-control pull-righ", @title = "请选择...", @disabled = "disabled" });
                            }
                            else
                            {
                                <select class="selectpicker form-control pull-righ" id="select-city" title="请选择.." disabled>

                                    <option selected>暂无数据</option>
                                </select>
                            }
                        }
                </div>
                <label class="control-label col-md-2">资源分组：</label>
                <div class="col-md-4">
                        @{
                            if (ViewData["cityList"] != null)
                            {
                                @Html.DropDownList("edit-group", ViewData["rGroupList"] as SelectList, new { @class = "selectpicker form-control pull-righ", @title = "请选择..." });
                            }
                            else
                            {
                                <select class="selectpicker form-control pull-righ" id="select-city" title="请选择..">

                                    <option selected>暂无数据</option>
                                </select>
                            }
                        }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">所属园区：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
                <label class="control-label col-md-2">所属主体：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            @*<div class="form-group">
                <label class="control-label col-md-2">所属主体：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>*@
            @*<div class="form-group">
                <label class="control-label col-md-2">资源面积：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>*@
            <div class="form-group">
                <label class="control-label col-md-2">资源面积：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
                <label class="control-label col-md-2">押金金额：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">容纳人数：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
                <label class="control-label col-md-2">资源尺寸：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">详细位置：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
                <label class="control-label col-md-2">位置简称：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">发布时间：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
                <label class="control-label col-md-2">发布等级：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            @*<div class="form-group">
                <label class="control-label col-md-2">容纳人数：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>*@
            
            <div class="form-group">
                <label class="control-label col-md-2">资源价格：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">资源图片：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            
            @*<div class="form-group">
                <label class="control-label col-md-2">位置简称：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>*@

            <div class="form-group">
                <label class="control-label col-md-2">资源介绍：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
            
            @*<div class="form-group">
                <label class="control-label col-md-2">发布等级：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>*@
            <div class="form-group" style="padding:15px 0px; text-align:center;border:1px solid #0094ff;border-radius:2px;">
                
                    <input type="submit" class="layui-btn layui-btn-normal" value="保存">
                    <input type="button" class="layui-btn layui-btn-normal" value="关闭">
                
            </div>
        </form>
    </div>
    @Scripts.Render("~/common/js")
    <script src="~/Plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/Plugins/app/js/app.upload.js"></script>
</body>
</html>
