
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>房屋资源发布</title>
    @Styles.Render("~/common/css")
    @Styles.Render("~/app/css")
    <link href="~/Plugins/app/css/app.form.css" rel="stylesheet" />
    <link href="~/Plugins/app/css/app.upload.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <form class="form-horizontal" style="margin:0px auto;" name="res-form">
            <div id="form-header">
                <div class="form-group">
                    <label class="control-label col-md-2">发布编号：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="public-id" value="@DateTime.Now.ToString("yyyyMMddhhmmsss")" disabled />
                    </div>
                    <label class="control-label col-md-2">选择资源：</label>
                    <div class="col-md-4">
                        <button class="btn btn-primary" id="res-search"><i class="layui-icon layui-icon-search"></i> 查询</button>
                    </div>
                </div>
            </div>
            <div id="form-content">
                <div class="form-group">
                    <label class="control-label col-md-2">资源编号：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="res-id" />
                    </div>
                    <label class="control-label col-md-2">资源名称：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="res-name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">资源类别：</label>
                    <div class="col-md-4">
                        @Html.Action("GetTypeDropDownList", "ResType")
                    </div>
                    <label class="control-label col-md-2">资源分组：</label>
                    <div class="col-md-4">
                        @Html.Action("GetGroupDropDownList", "Group", new { id = 1 })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">所属园区：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="res-park" />
                    </div>
                    <label class="control-label col-md-2">所属主体：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="res-provider" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">资源面积：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="res-rentArea" />
                    </div>
                    <label class="control-label col-md-2">押金金额：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="res-deposit" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">容纳人数：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="res-personNum" />
                    </div>
                    <label class="control-label col-md-2">资源尺寸：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="res-size" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">详细位置：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="res-fullAddr" />
                    </div>
                    <label class="control-label col-md-2">位置简称：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="res-shortAddr" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">发布时间：</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="public-start" />
                        <label style="position:absolute;top:20%; right:3px;">~</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="public-end" />
                    </div>
                    <label class="control-label col-md-2">发布等级：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="public-level" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">资源价格：</label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"> 定价模式</span>
                            <select class="selectpicker form-control pull-righ" id="price-model" title="请选择..">
                                <option value="1" selected>正常价</option>
                                <option value="2">区间价</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2" id="price-normal">
                        <label style="position:absolute;top:15%; left:5px;">￥ </label>
                        <input type="text" class="form-control" name="pn-money" style="text-indent:10px;" />
                    </div>
                    <div id="price-interval">
                        <div class="col-md-2">
                            <label style="position:absolute;top:15%; left:5px;">￥ </label>
                            <input type="text" class="form-control" name="pi-min" style="text-indent:10px;" />
                            <label style="position:absolute;top:20%; right:3px;">~</label>
                        </div>
                        <div class="col-md-2">
                            <label style="position:absolute;top:15%; left:5px;">￥ </label>
                            <input type="text" class="form-control" name="pi-max" style="text-indent:10px;" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group" style="border-radius:4px;">
                            @Html.Action("GetUnitDropDownList", "Unit") 
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">资源图片：</label>
                    <div class="col-md-10" id="img-container">
                        <div class="add-box">
                            <span class="inflag">+</span>
                            <input type="file" name="img-upload" id="img-upload" data-id="" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">资源介绍：</label>
                    <div class="col-md-10">
                        <script id="res-content" name="res-content" type="text/plain">
                        </script>
                    </div>
                </div>
                <div class="form-group" style="padding:15px 0px; text-align:center;border:1px solid #0094ff;border-radius:2px;">
                    <input type="submit" class="layui-btn layui-btn-normal" value="保存">
                    <input type="button" class="layui-btn layui-btn-normal" value="关闭">
                </div>
            </div>
        </form>
    </div>
    @Scripts.Render("~/common/js")
    <script src="~/Plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/Plugins/app/js/app.upload.js"></script>
    <script src="~/Plugins/ueditor/ueditor.config.js"></script>
    <script src="~/Plugins/ueditor/ueditor.all.js"></script>
    <script src="~/Plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script>
        var ue = UE.getEditor('res-content', {
            initialContent: '请编写资源详细资料！',
            initialFrameHeight: 300
        });
    </script>
</body>
</html>
