
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>序号</th>
            <th>城市名称</th>
            <th>区域编号</th>            
            <th>区域名称</th>
        </tr>
    </thead>
    <tbody>
        @{
            int id = 1;
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td id="key" style="display:none">@item.ID</td>
                        <td>@id</td>
                        <td>@item.CityName</td>
                        <td>@item.RegionCode</td>                        
                        <td>@item.RegionName</td>
                    </tr>
                    id++;
                }
            }
        }
    </tbody>
</table>

