@model List<Resource.Model.T_RoleFunc>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>园区管理</title>
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Plugins/layui/css/layui.css")
    @Styles.Render("~/Plugins/bootstrap-select/css/bootstrap-select.min.css")
    @Styles.Render("~/Plugins/app/css/app.index.css")
</head>
<body>
    <div class="container-fluid">
        @Html.Partial("_FuncPage", Model)
        @*<div class="func-action">
                <button type="button" class="btn btn-primary" id="add"><i class="glyphicon glyphicon-plus"></i> 新增</button>
                <button type="button" class="btn btn-primary" id="edit"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
                <button type="button" class="btn btn-danger" id="del"><i class="glyphicon glyphicon-trash"></i> 删除</button>
            </div>*@
        <div class="select-action">
            <div class="row">
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">城市</span>
                        @{ Html.RenderAction("CityDrop", "Drop", new { pid = "", id = "", model = 2 });}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">区域</span>
                        <select class="selectpicker form-control pull-righ" id="region" title="请选择..."></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">园区编号</span>
                        <input type="text" class="form-control" id="id">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">园区名称</span>
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <button type="button" class="btn btn-primary" id="search" data-url="@Url.Action("Search")">查询</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-action">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>城市</th>
                        <th>区域</th>
                        <th>编号</th>
                        <th>名称</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody id="tb"></tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
    <script id="tableTpl" type="text/html">
        {{each data value i}}
        <tr>
            <td>{{i+1}}</td>
            <td>{{value.CityName}}</td>
            <td>{{value.RegionName}}</td>
            <td class="key">{{value.ID}}</td>
            <td>{{value.Name}}</td>
            <td class="enable" data-enable="{{value.Enable}}">
                {{if value.Enable==0}}停用
                {{else}}启用
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </script>
    @Scripts.Render("~/Plugins/jquery/jquery-2.2.4.js")
    @Scripts.Render("~/Plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Plugins/layui/layui.js")
    @Scripts.Render("~/Plugins/bootstrap-select/js/bootstrap-select.min.js")
    @Scripts.Render("~/Plugins/artTemplate/template-web.js")
    @Scripts.Render("~/Plugins/app/js/app.common.js")
    @Scripts.Render("~/Plugins/app/js/app.index.js")
    <script>
        function paramsSet() {
            return obj = {
                City: $("#city").val(),
                Region: $("#region").val(),
                ID: $("#id").val(),
                Name: $("#name").val(),
                PageIndex: currentNum,
                PageSize: limitCount
            };
        };
    </script>
</body>
</html>
